.projectsList {
    display: grid;
    overflow: auto;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 200px);
    padding: 5px 10%;
    grid-gap: 30px;
}

.projectsList .project, .createProject {
    background: var(--project-base-color);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: clamp(200px, 200px, 200px);
    height: clamp(200px, 200px, 200px);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: color 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
}

.projectsList .project:hover, .createProject:hover {
    cursor: pointer;
    background: var(--color3);
    color: white;
}

.project .header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.project .header img {
    height: 85px;
    width: 85px;
    padding: 10px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 3px 4px 0px var(--project-border);
    border: 2px solid var(--project-border);
}

.project .header h1 {
    margin-block: 0;
}

.project .footer {
    height: 30px;
    display: flex;
    flex-direction: row;
    user-select: none;
    padding: 0 10px;
    /* border-top: 1px solid var(--project-border);
    background: var(--project-footer-color); */
}

.project .footer > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    gap: 1px;
}

.project .footer button {
    border: none;
    background: transparent;
    width: clamp(25px, 25px, 25px);
    min-height: clamp(25px, 25px, 25px);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project .footer i {
    font-size: 17px;
    color: var(--project-footer-button);
    /* width: 25px; */
    /* height: 25px; */
    /* padding: 2px; */
}

.project .footer button:hover {
    background: var(--project-border);
    cursor: unset;
}

.searchDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 15px;
}

.searchInput {
    border: 1px solid var(--project-border);
    border-radius: 10px;
    overflow: hidden;
    background: white;
    height: 40px;
    width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchInput i {
    margin: 0 10px;
}

.searchInput input {
    border: none;
    height: 100%;
    width: 100%;
    border-radius: 0px;
    outline: none;
    font-size: 18px;
}

.createProject {
    align-items: center;
    justify-content: center;
}

.createProject div {
    background: var(--project-secondary-color);
    width: 40%;
    height: 40%;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transition: background 0.2s ease-in-out;
    color: var(--project-footer-button);
}

.createProject:hover div {
    background: var(--color3-hover);
    color: white;
}