<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blockly.css">
    <script src="/js/project.js" defer></script>
    <script src="https://kit.fontawesome.com/e563cbeefe.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="topZone">
        <div style="max-width: 33%;">
            <img src="/assets/logo.png" alt="">
            <button class="current" data-nav="design">Design</button>
            <button data-nav="blocks">Blocks</button>
        </div>
        <div class="projectTitle">
            <img src="/assets/icon.png" alt="">
            <h1>Project1</h1>
        </div>
        <div class="rightActions">
            <button><i class="fa-solid fa-play"></i></button>
            <button><i class="fa-solid fa-share-nodes"></i></button>
            <button><i class="fa-solid fa-book"></i></button>
            <img class="accountButton" src="/assets/doggie.png">
        </div>
    </div>
    <div class="component">
        <div class="mainZone">
            <div class="leftElements">
                <div class="organisationPanel">
                    <div class="top">
                        <i class="fa-solid fa-angle-right"></i>
                        <span>Layout</span>
                    </div>
                    <div class="container">
                        <button>shit1</button>
                        <button>shit2</button>
                        <button>shit3</button>
                    </div>
                </div>
                <div class="elementsPanel">
                    <div class="top">
                        <i class="fa-solid fa-angle-right"></i>
                        <span>Elements</span>
                    </div>
                    <div class="container" style="border-bottom: none;">
                        <button data-type="text">Text</button>
                        <button data-type="button">Button</button>
                        <button data-type="image">Image</button>
                    </div>
                </div>
            </div>
            <div class="rightElements">
                <div class="topInfo">
                    <span>Text1</span>
                    <input type="text" style="display: none">
                    <button>D</button>
                </div>
                <div class="nav">
                    <button class="active">Global</button>
                    <button>Specific</button>
                    <div style="--active-index: 0;" class="underline"></div>
                </div>
                <div class="content"></div>
            </div>
            <div class="deviceScreen">

            </div>
        </div>
    </div>
    <div class="component active">
        <div id="blockly"></div>
    </div>
    <button style="position: absolute; bottom: 10px; left: 10px; padding: 0" id="convertBtn">▶️</button>
</body>

</html>