<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pages/projectsList.css">
    <link rel="stylesheet" href="/css/modal.css">
    <script src="/ux/pages/projectsList.js" type="module" defer></script>
    <script src="https://kit.fontawesome.com/e563cbeefe.js" crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Document</title>
</head>

<body>
    <div class="topZone">
        <div style="max-width: 33%;">
            <img src="/assets/logo.png" alt="" onclick="location = '/'">
        </div>
        <div class="rightActions">
            <button>PRO</button>
            <img class="accountButton" src="/assets/doggie.png">
        </div>
    </div>
    <div class="component active">
        <div class="searchDiv">
            <div class="searchInput">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Search projects...">
            </div>
        </div>
        <div class="projectsList">
            <div class="createProject">
                <div>
                    <i class="fa-solid fa-plus"></i>
                </div>
            </div>
            <% projects.forEach(project => { %>
                <div class="project" data-id="<%= project._id %>">
                    <div class="header">
                        <img src="/assets/icon.png" alt="">
                        <h1><%= project.title %></h1>
                    </div>
                    <div class="footer">
                        <div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div>
                            <button><i class="fa-solid fa-play"></i></button>
                            <button><i class="fa-solid fa-share-nodes"></i></button>
                            <button><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
    <div class="modalContainer">

    </div>
</body>

</html>