<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e563cbeefe.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div class="topZone">
        <div style="max-width: 33%;">
            <img src="/assets/logo.png" alt="">
        </div>
        <div class="rightActions">
            <button>PRO</button>
            <img class="accountButton" src="/assets/doggie.png">
        </div>
    </div>
    <div class="component active">
        <div>project #1</div>
        <div>project #2</div>
        <div>project #3</div>
        <div>project #4</div>
        <div>project #5</div>
        <div>project #6</div>
        <div>project #7</div>
        <div>project #8</div>
        <div>project #9</div>
        <div>project #10</div>
    </div>
</body>

</html>