.topZone {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
    }

    button {
        height: 40px;
        width: 80px;
        border-radius: .25rem;
        border: none;
        border: 1px solid gray;
        font-size: 16px;
        background: var(--color1);
        color: black;
        font-family: 'Roboto', sans-serif;
        font-weight: 600;

        &:hover {
            background: var(--color1-hover);
            cursor: pointer;
        }

        &:active {
            background: var(--color1-active);
        }
    }

    img {
        height: 100%;
        cursor: pointer;
    }

    .current {
        border: none;
        color: white;
        background: var(--color3);

        &:hover {
            background: var(--color3-hover);
        }

        &:active {
            background: var(--color3-active);
        }
    }

    .projectTitle {
        gap: 1px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        h1 {
            margin-block: 0px;
        }

        img {
            height: 2em;
            border-radius: .25rem;
        }
    }
}